<h1>Research Administration</h1>

<ul>
  <li><%= link "Location types", to: Routes.location_type_path(@conn, :index) %></li>
  <li><%= link "Counties", to: Routes.county_path(@conn, :index) %></li>
</ul>